@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100..900&display=swap");

/* color */
:root {
  --primary-color: #0087ca; /* 주색 파랑 */
  --primary-color-transparent: rgba(0, 135, 202, 0.5); /* 50% 투명도 */
  --secondary-color: #bc1238; /* 부색 빨강 */
  --teenagers-color: #ffafa3; /* 10대 */
  --twenties-color: #ffc470; /* 20대 */
  --thirties-color: #ffd966; /* 30대 */
  --forties-color: #85e0a3; /* 40대 */
  --fifties-color: #80caff; /* 50대 */
  --sixties-color: #d9b8ff; /* 60대 */
  --very-crowded-color: #dd1f3d; /* 매우 혼잡 */
  --crowded-color: #ff8040; /* 혼잡 */
  --normal-color: #ffb100; /* 보통 */
  --quiet-color: #00d369; /* 한적 */
  --gray-color: #bdbdbd; /* 회색 */
  --black-color: #333333; /* 검은색 */
  --white-color: #ffffff; /* 흰색 */
}

/* shadow */
.box-shadow {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 설정 */
}

/* radius */
.border-radius-default {
  border-radius: 20px; /* 기본 */
}

.border-radius-thin {
  border-radius: 10px; /* 얇음 */
}

.border-radius-circle {
  border-radius: 50%; /* 원 */
}

/* padding, margin, gap */
.padding-default {
  padding: 1rem; /* 기본 */
}

.padding-thin {
  padding: 0.5rem; /* 얇음 */
}

.padding-thick {
  padding: 1.5rem; /* 두꺼움 */
}

.padding-thicker {
  padding: 2rem; /* 아주 두꺼움 */
}

/* font-size */
.font-size-max-extra-large {
  font-size: 36px;
}

.font-size-extra-large {
  font-size: 28px;
}

.font-size-large {
  font-size: 26px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-small {
  font-size: 14px;
}

.font-size-micro {
  font-size: 12px;
}

/* font-weight */
.font-weight-bold {
  font-weight: 900;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-thin {
  font-weight: 300;
}

/* font-family */
h2 {
  font-family: "Nanum Gothic", sans-serif;
}

h3 {
  font-family: "Do Hyeon", sans-serif;
}

p {
  font-family: "Noto Sans KR", sans-serif;
}

span {
  font-family: "Noto Sans KR", sans-serif;
}

h2 {
  font-family: var(--font-family-h2);
  font-size: 28px; /* $font-size-extra-large */
  font-weight: 900; /* $font-weight-bold */
}

h3 {
  font-family: var(--font-family-h3);
  font-size: 26px; /* $font-size-large */
  font-weight: 400; /* $font-weight-regular */
}

p {
  font-family: var(--font-family-p);
  font-size: 16px; /* $font-size-medium */
  font-weight: 300; /* $font-weight-thin */
}

span {
  font-family: var(--font-family-span);
  font-size: 12px; /* $font-size-micro */
  font-weight: 300; /* $font-weight-thin */
}

strong {
  color: var(--primary-color);
  font-weight: 900; /* $font-weight-bold */
}
